#button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}